html {
    background: linear-gradient(90deg, rgb(255, 5, 134) 0%, rgba(237, 7, 61, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

h1 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

.main {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.58);
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding: 10px;
}

.complete {
    color: #ff0586;
    border-color: #ff0586;
    border-radius: 5px;
    margin: 5px 20px 5px 5px;
    font-size: 12px;
}

.close {
    float: right;
}

.add {
    background-color: #ff079c;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
    font-size: 15px;
}

ol {
    font-size: 18px;
}

input,
.list {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.strikeout {
    text-decoration: line-through;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}